



.liModificarSede
{
margin-left: 10px;
}

.items
{
color:white;
font-size:22px;
}

.divTabModificarSede
{
width:90%;
margin-left:5%;
display:none;
}

.contenedorsedes {
  width: 60%;
  margin:auto;
  border-radius: 5px;
  padding: 5%;
  background: linear-gradient(to bottom, #dd5e89 0%, #f7bb97 100%);


}

.rowloc1 {
  width: 50%;
  margin:auto;
}

.rowloc2 {
  width: 80%;
  margin:auto;
}


.mapa{
  width:100%;
  height:500px;
}






.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */



  @media only screen and (max-width: 600px) {
  .contenedorsedes {
    width: 100%;
  }

   .col-20,.col-25,.col-30,.col-35, .col-40,.col-50,.col-60,.col-75{
     width: 80%;
     margin-top:20px;
     margin-left: 10%;
   }

     .rowloc1 {
       width: 90%;
     }

     .rowloc2 {
       width: 100%;
     }

     .mapa{
       height:300px;
     }



}




@media only screen and (min-width: 600px) and (max-width: 800px){
  .contenedorsedes {
    width: 90%;

  }


    .rowloc1 {
      width: 80%;
    }

    .rowloc2 {
      width: 80%;
    }

    .mapa{
      height:400px;
    }


}



@media only screen and (min-width: 800px) and (max-width: 1000px){
  .contenedorsedes {
    width: 80%;

  }


  .rowloc1 {
    width: 60%;
  }
  .rowloc2 {
    width: 70%;
  }
  .mapa{
    height:500px;
  }


}

@media only screen  and (min-width: 1000px) and (max-width: 1300px){
  .contenedorsedes {
    width: 70%;

  }


  .rowloc1 {
    width: 50%;
  }

  .rowloc2 {
    width: 60%;
  }
  .mapa{
    height:500px;
  }
}

@media only screen  and (min-width: 1300px) {
  .contenedorsedes {
    width: 60%;
  }



  .rowloc1 {
    width: 50%;
  }

  .rowloc2 {
    width: 60%;
  }
  .mapa{
    height:500px;
  }
}
