.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.navfondo
{
background: linear-gradient(to bottom, #dd5e89 0%, #f7bb97 100%);
border: 1px solid #753a88;
padding: 20px;
}

.items
{
background: linear-gradient(to bottom, #dd5e89 0%, #f7bb97 100%);
border: 1px solid #753a88;
border-radius: 3px;

}

nav a
{
  font-size:22px;
}
