

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;

}




label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;

}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}
.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}
.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contenedordireccion {
  width: 75%;
  margin:auto;
}



.botonLocalizar{
  height:50px;
  font-size:18px;
  width:80%;
  margin:auto;
}

.contenedorlocalizacion{
  width:50%;
  margin:auto;
}








/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 730px){
  .col-25,.col-30,.col-35, .col-40,.col-50,.col-75, input{
    width: 80%;
    margin-top:20px;
    margin-left: 10%;
  }

  .mapa{
    width:100%;
    height:300px;
  }


  .contenedordireccion {
    width: 100%;
  }

  .contenedorlocalizacion{
    width:100%;
  }


}

@media only screen and (min-width : 730px) and (max-width : 1200px){
  .mapa{
    width:100%;
    height:400px;
  }

  .contenedordireccion {
    width: 90%;
  }

    .contenedorlocalizacion{
      width:80%;
    }

}

@media only screen and (min-width : 1200px) and (max-width : 1600px){
  .mapa{
    width:100%;
    height:500px;
  }
  .contenedordireccion {
    width: 85%;
  }

  .contenedorlocalizacion{
    width:70%;
  }
}


@media only screen and (min-width : 1600px) and (max-width : 2000px){
  .mapa{
    width:100%;
    height:500px;
  }
  .contenedordireccion {
    width: 80%;
  }
  .contenedorlocalizacion{
    width:50%;
  }
}
