*{box-sizing: border-box;}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
  }

/* Clear floats after the columns */
.row:after{
    display: table;
    clear: both;
}

.fuente
{
font-family: "Segoe Print";
font-size: 17px;
}

.colorFuente
{
color:white;
}

.borde
{
border-style: solid;
border-width: 1px;
border-collapse: collapse;
}

p,div,button
{
/*font-family: "Segoe Print";*/
font-size: 17px;
color:white;
}

.titulo{
color:rgb(0,0,0);
/*color:rgb(153, 214, 255);*/

text-shadow: 0px -1px 0px #424242;
font-size: 60px;
font-family: 'Unna', serif;
}

.subtitulo{
color:rgb(153, 214, 255);
text-shadow: 0px -1px 0px #424242;
font-size: 25px;
}


.buttonLink{
color:rgb(153, 214, 255);
font-size: 25px;
}

body
{
/* background: linear-gradient(to bottom, #0099ff 0%, #9999ff 100%); */
/*background: linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%);*/
background-color:black;
/*background-color:black;
background-color: #f1f1f1;
*/
}



* {
  box-sizing: border-box;
}

select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;

}

input
{
color:black;
padding: 12px;
border: 1px solid #aaaaaa;
border-radius: 3px;
font-family: Raleway;
font-size: 20px;
text-align: center;
width: 100%;
}

button
{
color:black;
padding: 12px;
border: 1px solid #aaaaaa;
border-radius: 3px;
font-family: Raleway;
font-size: 20px;
text-align: center;
width: 100%;
height: 50px;
}


input[type=submit]{
height: 50px;}

input[type=submit]:hover {
  background-color: #45a049;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;

}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}
.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}
.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}
.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contenedorver{
  margin:auto;
  /* background: gray; */
  border-radius: 4px;
}

.botonlista{
height:50px;
font-size:18px;
margin:auto;
width:90%;
}

.labelLista{
font-size:18px;
color:black;
}

.labelDatosLista{
font-size:18px;
color:black;
}


  @media only screen and (max-width: 600px) {

   .col-20,.col-25,.col-30,.col-35, .col-40,.col-50,.col-60,.col-75{
     width: 80%;
     margin-top:20px;
     margin-left: 10%;
   }

}
