

.contenedordatossede {
  width: 90%;
  margin:auto;
  background: linear-gradient(to bottom, #000066 0%, #666699 100%);
  border-radius: 5px;
  padding: 5%;
}


.contenedorhorariossede {
  width: 60%;
  margin:auto;

}


.contenedoragregarhorario {
  width: 60%;
  margin:auto;
}




@media only screen and (max-width: 600px)
{

  .contenedordatossede {
    width: 100%;
  }

  .contenedorhorariossede {
    width: 90%;
  }




}




@media only screen and (min-width: 600px) and (max-width: 800px){
  .contenedordatossede {
    width: 90%;
  }
  .contenedorhorariossede {
    width: 90%;
  }

}



@media only screen and (min-width: 800px) and (max-width: 1000px){
  .contenedorhorariossede {
    width: 80%;
  }

}

@media only screen  and (min-width: 1000px) and (max-width: 1300px){
  .contenedorhorariossede {
    width: 80%;
  }

}

@media only screen  and (min-width: 1300px) {
  .contenedorhorariossede {
    width: 80%;
  }

}
