

.contenedormodificarcomodato {
  width: 100%;
  margin:auto;
  padding: 5%;
  background: linear-gradient(to bottom, #000066 0%, #666699 100%);
  border-radius: 5px;

}

.contenedoritems{
  width: 80%;
  margin:auto;
  background-color: white;
  height:500px;
  overflow-y: scroll;
  border-radius: 3px;
  padding: 5%;
}

.contenedoritems.actuales{
  background: linear-gradient(to bottom, #99ccff 0%, #ffffff 100%);
  height:300px;

}


.botonmodificar {
height:50px;
font-size:18px;
width:90%;
margin:auto;
}



.boton {
  width: 90%;
  margin:auto;
}


  @media only screen and (max-width: 600px) {
  .contenedormodificarcomodato {
    width: 100%;
  }

  .botonmodificar {

  width:100%;
  }


   .boton {
     width: 100%;
     margin:auto;
   }

   .alerta
   {
   width:80%
   }


}




@media only screen and (min-width: 600px) and (max-width: 800px){
  .contenedormodificarcomodato {
    width: 90%;

  }

.alerta
{
width:80%
}


}



@media only screen and (min-width: 800px) and (max-width: 1000px){
  .contenedormodificarcomodato {
    width: 80%;

  }

.alerta
{
width:70%
}

}

@media only screen  and (min-width: 1000px) and (max-width: 1300px){
  .contenedormodificarcomodato {
    width: 70%;

  }

.alerta
{
width:50%
}


}

@media only screen  and (min-width: 1300px) {
  .contenedormodificarcomodato {
    width: 60%;
  }

.alerta
{
width:50%
}



}
