

.li
{
margin-left: 10px;
}

.items
{
color:white;
font-size:22px;
}

.divTab
{
width:90%;
margin-left:5%;
display:none;
}



/* Datos Principales */


.horizontalDP
{
display:none;
}





@media screen and (max-width: 600px) {
  .horizontalDP{
    display:none;
  }
}
