

.liMaquinas
{
margin-left: 10px;
}

.items
{
color:white;
font-size:22px;
}

.divTabMaquinas
{
width:90%;
margin-left:5%;
display:none;
}



/* Datos Principales */





@media screen and (max-width: 600px) {

}
