

.contenedordatosprincipales {
  width:60%;
  margin:auto;
  background: linear-gradient(to bottom, #000066 0%, #666699 100%);
  border-radius: 5px;

}

.alerta
{
/* background-color: green; */
width:50%;
margin:auto;
}

.botonmodificar {
  width: 60%;
  margin:auto;
}


  @media only screen and (max-width: 600px) {
  .contenedordatosprincipales {width: 100%;}



   .col-20,.col-25,.col-30,.col-35, .col-40,.col-50,.col-75{
     width: 80%;
     margin-top:20px;
     margin-left: 10%;
   }


   .botonmodificar {
     width: 100%;
     margin:auto;
   }

   .alerta
   {
   width:80%
   }


}




@media only screen and (min-width: 600px) and (max-width: 800px){
  .contenedordatosprincipales {width: 90%;}

.alerta
{
width:80%
}


}



@media only screen and (min-width: 800px) and (max-width: 1000px){
  .contenedordatosprincipales {width: 80%;}

.alerta
{
width:70%
}

}

@media only screen  and (min-width: 1000px) and (max-width: 1300px){
  .contenedordatosprincipales {width: 70%;}


.alerta
{
width:50%
}


}

@media only screen  and (min-width: 1300px) {
  .contenedordatosprincipales {width: 60%;}

.alerta
{
width:50%
}



}
