.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header p {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 10px;
}


a.logo {
  background-color: #bdc3c7;
}

.header a.logo {
  font-size: 22px;
}

.header a.logo:hover{
  background-color: #4CAF50;
  color: white;
}


.header a:hover {
  background-color: #ddd;
  background: linear-gradient(to bottom, #a1c4fd 0%, #c2e9fb 100%);
  color: #09203f;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
